.Rproj.user
.Rhistory
.RData
.Ruserdata
Analysis_of_shifted_VolcanoPlots.html
2023-12-18_apc_adipo_clusters.csv
7.2023-07-17_Arionas_VISION.nb.html
Plotting_metadata.nb.html
Z.Analysis_Arionas_Object.html
Z.Analysis_of_shifted_VolcanoPlots.html
Z.Clusters_characterization .nb.html
Z.Neck_depot_cluster_comparison.nb.html
8.CellChat_per_depot.nb.html
11.Correlation_Xue_dataset.html
5.Classification_White_Adipocyte_clusters_files
8.Visualize_CellChat.nb.html
HBI-main
LAMININ_hierarchy_individual.png
LAMININ_hierarchy_individual.svg
NMF_4ab04c304c5a
README.docx
SearchFiles_PowerShell.ps1
Tseng_neck_adipose.Rproj
Z.Analsis_human_cell_RNAseq.nb.html
Z.MERSCOPE_panel_generation_II.docx
omnipathr-log
output
12.Analsis_human_cell_RNAseq.nb.html
8.CellChat_by_depot.txt
Z.LIANA_tutorial.nb.html
data.h5ad
training_data.h5ad
Shiyi_pipeline
Z.Analsis_human_cell_RNAseq.knit.md
7.VISION_UCP1_corr_NOT_BAd_enriched.nb.html
0.SearchFiles_PowerShell.ps1
00.SearchFiles_PowerShell.ps1
07.2023-07-17_Arionas_VISION.nb.html
07.VISION_TCA_Thermo_ReactomeWikipath.nb.html
07.VISION_UCP1_corr_NOT_BAd_enriched.nb.html
08.Visualize_CellChat.nb.html
Z.build_enrichr_reference_sets.R
.DS_Store
06.FindMarkers_DE_analysis.nb.html
local_data
X.03.02_CellChat_Visualization.nb.html
X.02.X_VISION_Analysis_Human_snRNAseq.html
vision_run.log
X.03.02_CellChat.nb.html
.DS_Store
dependency_map_mermaid_notion.txt
dependency_trace.R
figure_inputs.csv
inferred_data_dependencies_long.csv
inferred_data_dependencies_long_filtered.csv
write_mermaid.R
TEMPORARY_Demographics_plots.R
demographics_plots
directories.v1.csv
map_script_io.R
project_io_map.v1.csv
script_io_map.v1.csv
VennDiagram.2026-04-15_20-32-34.315368.log
data
directories.csv
project_io_map.csv
project_io_map_unresolved.csv
script_io_map.csv
output_backup
output_TO_DELETE
data_onedrive
Cleaned_Datasets_matches.csv
Match_script_line.R
# Data
*.h5ad
*.h5seurat
*.rds
*.RDS
*.h5
*.loom
*.mtx
*.tsv
*.csv
*.xlsx
# Large / generated outputs
results/
figures/
plots/
data/
tmp/
*.pdf
*.png
*.tiff
*.svg
# Environment and credentials
.env
.Renviron
.Rprofile
*.lic
gurobi.lic
*.pem
*.key
# System files
.DS_Store
__pycache__/
.ipynb_checkpoints/
.DS_Store
.RDataTmp


# Ignore .git backup
.git_old_history_backup
extract_figure_inputs.R
